{erl_opts, [debug_info]}.
{deps, [
        {bucs, {git, "https://github.com/botsunit/bucs.git", {tag, "0.0.2"}}}
       ]}.

{profiles, [
            {dev, [
                   {deps, [
                           {rebar3, {git, "https://github.com/erlang/rebar3.git", {branch, "master"}}}
                          ]}
                  ]}
           ]}.
