{erl_opts, [debug_info]}.
{deps, [
        {bucs, "~> 0.1.0"}
       ]}.

{profiles, [
            {dev, [
                   {deps, [
                           {rebar3, {git, "https://github.com/erlang/rebar3.git", {branch, "master"}}}
                          ]}
                  ]}
           ]}.
